/*@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);*/

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.fa {
    padding-right: 10px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    /*background-color: #34495e;*/
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 1.0em;
}

.sidebar img {
    width: 95%;
}

.sidebar a {
    display: block;
    /*color: white;*/
    color: #34495e;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #95a5a6;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #95a5a6;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 10px 16px;
    /* Bajar content */
    height: 1000px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: #34495e;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar img {
        width: 80px;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}